@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    background-color: black;
}

.sec1_content {
    text-align: center;
    color: white;
    padding: 1rem;
    position: relative;
    z-index: 9;
    margin-top: 5rem;
}

.sec1_bg {
    background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY-970-80.jpg.webp");
    background-size: cover;
    width: 100%;
    position: relative;
    background-position: center;
    height: 100vh;
}

nav img{
    position: relative;
    z-index: 9;
}

.overlayer {
    background-color: rgba(0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .75;
    z-index: 1;
}
.bar {
    position: relative;
    z-index: 9;
    cursor: pointer;
    margin-right: 180px;
    margin-top: 1rem;
}

.signbutton {
    background-color: red;
    color: white;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    width: 80px;
}

.sec1_input {
    background-color: transparent;
    width: 15rem;
    height: 2rem;
    margin: 2px;
    color: white;
    padding: 24px 18px;
    width: 20vw;
    height: 3rem;
    cursor: text;
    font-weight: 400;
    border-color: rgba(255, 255, 255, 0.575);
    border-radius: 5px;
    border-width: 1px;
}

.sec1selection {
    background-color: transparent;
    cursor: pointer;
    color: white;
    width: 6rem;
    font-size: 16px;
    border-radius: 5px;
}

.getstarted_btn {
    font-weight: bold;
    font-size: 20px;
    width: 12vw;
    height: 3rem;
    background-color: rgb(240, 6, 6);
    border-width: 3px;
    border-color: rgb(252, 3, 3);
}

.mainhead {
    font-weight: bold;
    font-size: 60px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin-top:5rem;
}

.subhead {
    font-size: 21px;
    font-weight: bold;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.subhead2 {
    font-weight: 600;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.sec2head {
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.logo{
    height: 50px;
    width: 50px;
    width: 9rem;
    margin-left: 180px;
    margin-top: 1rem;
}
.lang{
    display: inline;
    border-style: solid;
    border-color:rgba(255, 255, 255, 0.659);
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.curve-divider {
    height: 50px;
    background: #e50914; /* Netflix red */
    border-style: solid;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    border-color: red;
}
.card_img{
    width: 25rem;
    height: 20rem;
    margin-left: 5rem;

}
.card_img1{
    width: 25rem;
    height: 20rem;
    margin-right: 5rem;

}
.freq {
    color: white;
    font-weight: 400;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    text-align: center;
    padding: 40px 20px;
    background-color:black; /* optional, for separation */
    font-size: 28px; /* clearer visibility */
}

.queries{
    margin: 60px auto;
    width:100%; 
    max-width: 750px;

}
.queries li{
    list-style: none;
    padding: 5px;
    width:100%;
}
.queries li label{
    display: flex;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after {
    content: "+";
    font-size: 45px; 
    font-weight: 10;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.queries .content{
    background:#303030;
    text-align: left;
    padding: 0px 20px;
    overflow: hidden;
    max-height: 0px;
}
.queries input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
    font-size: 18px;
    transition: max-height 0.5s, padding 0.5s;
}  
.queries input[type="radio"]:checked + label::after {
    transform: translateY(-50%) rotate(135deg);
}
small {
    color: white;
    text-align: center;
}
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    text-decoration: none;
    color: #777;
    font-size: 14px;
    display:block;
    margin-bottom: 10px;
}